.venv/
.ruff_cache/
__pycache__/
.pytest_cache/
.env
logs/
outputs/
results/
*.log
*.pyc
**/outputs/*
*.log 
**/Qwen/*
*.pyo
*.egg-info/
dist/
build/
.idea/
.vscode/
inference/
artifacts/
wandb/
*.out
*.txt
.virtual_documents/
*_rsa*
*.safetensors
**/inference_trace/*
src/data/README.md
**/hf_params/*
